<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>聊天室</title>
    <script type="text/javascript" th:src="@{js/jquery-1.11.3.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/chat.css}" >



    <style type="text/css">


    </style>
</head>
<body >
<div class="tiao-left"- >
    <div class="horizontal-nav">



        <li class="nav-item">
            <a class="nav-link" th:href="@{/home.do}" th：href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2h-3v-7h-6v7H5a2 2 0 0 1-2-2V9zm9-4v6h6V5l-3-3-3 3z"></path>
                    <polyline points="13 2 13 9 20 9"></polyline>
                </svg>
                首页
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/findAll.do}" th：href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                    <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                    <polyline points="13 2 13 9 20 9"></polyline>
                </svg>
                医生
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th：href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
                    <circle cx="9" cy="21" r="1"></circle>
                    <circle cx="20" cy="21" r="1"></circle>
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                </svg>
                商城
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/chat2.do}" href="http://getbootstrap.com/docs/4.0/examples/dashboard/#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                    <circle cx="9" cy="7" r="4"></circle>
                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                在线问诊
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/blog.do}" href="http://getbootstrap.com/docs/4.0/examples/dashboard/#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
                    <line x1="18" y1="20" x2="18" y2="10"></line>
                    <line x1="12" y1="20" x2="12" y2="4"></line>
                    <line x1="6" y1="20" x2="6" y2="14"></line>
                </svg>
                论坛
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/ai.do}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                    <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                    <polyline points="2 17 12 22 22 17"></polyline>
                    <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                AI问答
            </a>
        </li>

    </div>
</div>
<div>
    <h1 style="font-family: YouYuan;color: rgba(255, 255, 255,0.8)">小e智能问诊</h1>
</div>
<div class="contentBox">

    <div id="showBox">

    </div>
    <div id="buttonBox">

        <div id="bInput">
            <input type="text" hidden id="aTalkWord">
            输入你的问题：<input type="text" id="bTalkWord">
            <input type="submit" id="bButton" value="发送">
        </div>
    </div>
</div>
</body>
<script>

    //获取标签
    let ShowBox=document.getElementById("showBox");//getElementsByClassName("")[0];
    let ATalkWord=document.getElementById("aTalkWord");
    let BTalkWord=document.getElementById("bTalkWord");
    let Abutton=document.getElementById("aButton");
    let Bbutton=document.getElementById("bButton");

    //绑定事件
   /* Abutton.onclick=function(){
        let Atalk = "";//定义空值
        if(ATalkWord.value==""){   //判断消息是否为空
            alert("宝！消息不能为空");
        }else{
            Atalk="<p> A说: "+ ATalkWord.value +"</P>";//获取信息
        }
        ShowBox.innerHTML=ShowBox.innerHTML+Atalk;//添加信息
    }
    Bbutton.onclick=function(){
        if(BTalkWord.value==""){
            alert("宝！消息不能为空");
        }else{
            ShowBox.innerHTML=ShowBox.innerHTML+"<span><p> B说: "+ BTalkWord.value +"</P></span>";//第二种方法：直接写入HTML里面
        }
    }*/
    Atalk="<p> 小e:请问你想咨询什么医学知识</P>";
    ShowBox.innerHTML=ShowBox.innerHTML+Atalk;
    Atalk="<p> 小e:例如：感冒的症状/治疗感冒/感冒吃什么药/如何预防感冒</P>";
    ShowBox.innerHTML=ShowBox.innerHTML+Atalk;
    Bbutton.onclick=function () {
        if(BTalkWord.value==""){
            alert("宝！消息不能为空");
        }else {

            $.ajax({
                type: "POST",
                url: "/chatRoobot?message=" + $("#bTalkWord").val(),
                success: function (data) {
                    $("#aTalkWord").val(data.response);
                    ShowBox.innerHTML = ShowBox.innerHTML + "<span><p>  " + BTalkWord.value + "</P></span>";//第二种方法：直接写入HTML里面
                    Atalk="<p> 小e: "+ ATalkWord.value +"</P>";
                    ShowBox.innerHTML=ShowBox.innerHTML+Atalk;
                    // ShowBox.innerHTML=ShowBox.innerHTML+"<span><p> A说: "+ data.response +"</P></span>";//第二种方法：直接写入HTML里面
                    $("#bTalkWord").val("");
                    $ ("#showBox"). scrollTop ($ ("#showBox"). prop ('scrollHeight'));
                },
                dataType: "json"
            })
        }
    }
    /*$("#bButton").submit(function (event) {
        event.preventDefault();

        var message = $("#bTalkWord").val();

        $.get("/chatRoobot", {message: message}, function (response) {
            $("#chat-area").append("<p> " + message + "<strong>You:</strong></p >").css({
                "text-align": "right"
            });
            $("#chat-area").append("<p><strong>Bot:</strong> " + response + "</p >").css({
                "text-align": "left"
            });
            $ ("#chat-area").scrollTop($ ("#chat-area"). prop ('scrollHeight'));

            $("#message").val("");
        });
    });*/
</script>
</html>
